Include /etc/ssh/sshd_config.d/*.conf
Port 9020
PermitRootLogin yes
StrictModes no
Stricthostkeychecking no
PubkeyAuthentication no
PasswordAuthentication yes
PermitEmptyPasswords yes
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
